@import 'tailwindcss';
@import 'flatpickr/dist/flatpickr.css';
@import './themes.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
    --font-head:'Anton', 'Bebas Neue', sans-serif;
    --font-body: 'Inter', sans-serif;
    --color-pride-pink: #FF2F92;
    --color-pride-black: #080A12;
    --color-pride-beige: #F8F3EA;
    --color-pride-yellow: #FFD400;
    --color-pride-navy: #080A12;
    --color-pride-blue: #FF2F92;
    --color-pride-pink-light: #ffe0ef;
    --color-pride-gray: #F8F3EA;
}
