.theme-corporate {
    --color-pride-navy: #21368b;
    --color-pride-blue: #2453ff;
    --color-pride-pink: #0b53a0;
    --color-pride-pink-light: #fd8ac1;
    --color-pride-gray: #e6e8ff;
    --color-pride-black: #101522;
}
